<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kuhes Care</title>
    <meta name="description" content="Kuhes Care is an Online Therapy Platform">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="w-100">
        <div class="row px-1 px-lg-4">
            <div class="col-10 col-lg-4"><a class="d-flex align-items-center" href="index.html"><img id="logo" class="logo" src="assets/img/logo.png">
                    <h1><span class="k">Kuhes</span><span class="c">Care</span></h1>
                </a></div>
            <div class="col-8 d-none d-lg-flex align-items-center justify-content-end">
                <ul class="list-inline">
                    <li class="list-inline-item px-2"><a href="index.html">Home</a></li>
                    <li class="list-inline-item px-2"><a href="about.html">About</a></li>
                    <li class="list-inline-item px-2"><a href="blogs.html">Blog</a></li>
                    <li class="list-inline-item px-2"><a href="team.html">Our Team</a></li>
                    <li class="list-inline-item px-2"><a href="#">Shop</a></li>
                    <li class="list-inline-item px-2"><a class="btn login btn-bg-main" role="button" href="login.html">Login</a></li>
                    <li class="list-inline-item px-2"><a class="btn signup btn-bg-second" role="button" href="signup.html">Register</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center justify-content-center d-lg-none col-2">
                <div class="dropdown"><button class="btn" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-list-ul color-main fs-4"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item btn-hover-main" href="#">First Item</a><a class="dropdown-item btn-hover-main" href="#">Second Item</a><a class="dropdown-item btn-hover-main" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-header" class="page-header justify-content-center text-center">
        <div class="top-div mb-5"><span class="subheader">search Result</span>
            <h1 class="heading mb-4"><span class="me-3">Search</span><span class="underlined">details</span></h1>
        </div>
    </div>
    <div class="section bg-grey">
        <div class="mb-5 d-flex justify-content-center align-items-center text-center">
            <ul class="list-inline text-uppercase">
                <li class="list-inline-item search-category selected"><a href="#">All</a></li>
                <li class="list-inline-item search-category"><a href="#">anxiety</a></li>
                <li class="list-inline-item search-category"><a href="#">Counselling</a></li>
                <li class="list-inline-item search-category"><a href="#">individual</a></li>
            </ul>
        </div>
        <div class="row">
            <div id="search-1" class="col-md-6 col-lg-4 p-4">
                <div class="search-result-card">
                    <div><img class="rounded-5 rounded-bottom" src="assets/img/featured_image_blog.jpg"></div>
                    <div class="bg-white px-3 py-4 bg-white rounded-5 rounded-top"><a class="underlined text-uppercase" href="#">Stress</a><a href="#">
                            <h4 class="mt-3">Building your Confidence</h4>
                        </a>
                        <p class="text-truncate">Collaboratively administrate empowered markets via plug-and-play network</p>
                    </div>
                </div>
            </div>
            <div id="search-2" class="col-md-6 col-lg-4 p-4">
                <div class="search-result-card">
                    <div><img class="rounded-5 rounded-bottom" src="assets/img/featured_image_blog.jpg"></div>
                    <div class="bg-white px-3 py-4 bg-white rounded-5 rounded-top"><a class="underlined text-uppercase" href="#">Stress</a><a href="#">
                            <h4 class="mt-3">Building your Confidence</h4>
                        </a>
                        <p class="text-truncate">Collaboratively administrate empowered markets via plug-and-play network</p>
                    </div>
                </div>
            </div>
            <div id="search-3" class="col-md-6 col-lg-4 p-4">
                <div class="search-result-card">
                    <div><img class="rounded-5 rounded-bottom" src="assets/img/featured_image_blog.jpg"></div>
                    <div class="bg-white px-3 py-4 bg-white rounded-5 rounded-top"><a class="underlined text-uppercase" href="#">Stress</a><a href="#">
                            <h4 class="mt-3">Building your Confidence</h4>
                        </a>
                        <p class="text-truncate">Collaboratively administrate empowered markets via plug-and-play network</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-main">
        <div class="row justify-content-between mb-5">
            <div class="col-md-3 logo-div text-center"><img class="rounded-circle" src="assets/img/logo.png">
                <h1><span class="text-white me-2">Kuhes</span><span class="c">Care</span></h1><span>Mental wellness, wherever you are</span>
            </div>
            <div class="col-md-8">
                <div class="text-capitalize fs-4 pb-4 border-bottom border-white mb-4">
                    <div><a href="#">career opportunity</a></div>
                    <div><a href="#">our approach</a></div>
                </div>
                <div class="row">
                    <div class="col-2"><span class="subheader">LINKS</span>
                        <ul class="list-unstyled">
                            <li class="mb-1"><a href="about.html">About</a></li>
                            <li class="mb-1"><a href="blogs.html">Blog</a></li>
                            <li class="mb-1"><a href="blogs.html">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6"><span class="subheader">CONTACT</span>
                        <ul class="list-unstyled">
                            <li class="mb-1"><a href="#">Email : kuhes-care@gmail.com</a></li>
                            <li class="mb-1"><a href="#">Phone : +265 999 09</a></li>
                            <li class="mb-1"><a href="#">Address : Kuhes, Blantyre, Malawi</a></li>
                        </ul>
                    </div>
                    <div class="col-4"><span class="subheader">HOURS</span>
                        <ul class="list-unstyled">
                            <li>Weekdays (8am - 5pm)</li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>Weekends (8am - 12pm)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col bg-semi-transparent py-2"></div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>