<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kuhes Care</title>
    <meta name="description" content="Kuhes Care is an Online Therapy Platform">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="w-100">
        <div class="row px-1 px-lg-4">
            <div class="col-10 col-lg-4"><a class="d-flex align-items-center" href="index.html"><img id="logo" class="logo" src="assets/img/logo.png">
                    <h1><span class="k">Kuhes</span><span class="c">Care</span></h1>
                </a></div>
            <div class="col-8 d-none d-lg-flex align-items-center justify-content-end">
                <ul class="list-inline">
                    <li class="list-inline-item px-2"><a href="index.html">Home</a></li>
                    <li class="list-inline-item px-2"><a href="about.html">About</a></li>
                    <li class="list-inline-item px-2"><a href="blogs.html">Blog</a></li>
                    <li class="list-inline-item px-2"><a href="team.html">Our Team</a></li>
                    <li class="list-inline-item px-2"><a href="#">Shop</a></li>
                    <li class="list-inline-item px-2"><a class="btn login btn-bg-main" role="button" href="login.html">Login</a></li>
                    <li class="list-inline-item px-2"><a class="btn signup btn-bg-second" role="button" href="signup.html">Register</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center justify-content-center d-lg-none col-2">
                <div class="dropdown"><button class="btn" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-list-ul color-main fs-4"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item btn-hover-main" href="#">First Item</a><a class="dropdown-item btn-hover-main" href="#">Second Item</a><a class="dropdown-item btn-hover-main" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-header" class="page-header justify-content-center text-center">
        <div class="top-div mb-5"><span class="subheader">CONTACT US</span>
            <h1 class="heading"><span class="me-3">Question &amp;</span><span class="underlined">Feedback</span></h1>
            <p>Take a look at our FAQ for some quick answers. It you still need assistance, please fill out the form below and we’d be happy to help!</p>
        </div>
    </div>
    <div class="section bg-grey">
        <div>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-4"><label class="form-label" for="full_name">Full name</label><input class="form-control rounded-pill" type="text" id="full_name" name="full_name" placeholder="Full Name" required=""></div>
                    <div class="col-md-6 mb-4"><label class="form-label" for="email">Email Address</label><input class="form-control rounded-pill" type="text" name="email" placeholder="Email Address" required=""></div>
                    <div class="col-12 mb-4"><label class="form-label" for="email">Message</label><textarea class="form-control" rows="5" required="" name="message" placeholder="Message"></textarea></div>
                    <div class="col-12 text-end mb-4"><button class="btn btn-bg-main" type="submit">Send</button></div>
                </div>
            </form>
        </div>
    </div>
    <footer class="bg-main">
        <div class="row justify-content-between mb-5">
            <div class="col-md-3 logo-div text-center"><img class="rounded-circle" src="assets/img/logo.png">
                <h1><span class="text-white me-2">Kuhes</span><span class="c">Care</span></h1><span>Mental wellness, wherever you are</span>
            </div>
            <div class="col-md-8">
                <div class="text-capitalize fs-4 pb-4 border-bottom border-white mb-4">
                    <div><a href="#">career opportunity</a></div>
                    <div><a href="#">our approach</a></div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div><span class="subheader">LINKS</span>
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                    <div><span class="subheader">CONTACT</span>
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                    <div><span class="subheader">HOURS</span>
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col bg-semi-transparent py-2"></div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>