<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kuhes Care</title>
    <meta name="description" content="Kuhes Care is an Online Therapy Platform">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="top-bar" class="p-2 p-md-4 vh-10 d-flex align-items-center justify-content-between">
        <div><a class="d-flex align-items-center" href="index.html"><img id="logo" class="logo" src="assets/img/logo.png">
                <h2 class="d-none d-md-flex"><span class="k">Kuhes</span><span class="c">Care</span></h2>
            </a></div>
        <div class="dropdown"><button class="btn dropdown-toggle color-main btn-hover-none" aria-expanded="false" data-bs-toggle="dropdown" type="button"><img class="rounded-circle me-2" src="assets/img/hero_image_04.png" style="width: 50px;"><span class="fw-bold">Leroy Namarika</span></button>
            <div class="dropdown-menu"><a class="dropdown-item d-flex align-items-center justify-content-between" href="#"><span class="me-2">Account Settings</span><i class="far fa-user color-second"></i></a><a class="dropdown-item d-flex align-items-center justify-content-between" href="#"><span class="me-2">Logout</span><i class="fas fa-sign-out-alt color-second"></i></a></div>
        </div>
    </div>
    <div class="vh-80 overflow-auto bg-grey border-second border-top border-2">
        <div class="text-center p-2 mb-4">
            <h1>Welcome Leroy</h1>
            <h4>How can we help you today</h4>
        </div>
        <div class="row row-cols-4 p-2 justify-content-between text-center">
            <div class="p-2">
                <div class="bg-white p-4 rounded-3 border-1 shadow-sm">
                    <div class="text-center mb-3"><img class="vh-30" src="assets/img/34986924.jpg"></div>
                    <div class="text-center"><a href="therapist_list.html">
                            <h4>Talk to a Therapist</h4>
                        </a></div>
                    <p>This is where you can talk to a therapist through text, audio and video chat</p>
                </div>
            </div>
            <div class="p-2">
                <div class="bg-white p-4 rounded-3 border-1 shadow-sm">
                    <div class="text-center mb-3"><img class="vh-30" src="assets/img/40079084.jpg"></div>
                    <div class="text-center"><a href="peer-to-peer.html">
                            <h4>Peer to Peer</h4>
                            <p>This is where you can interact other members to see motivate each other</p>
                        </a></div>
                </div>
            </div>
            <div class="p-2">
                <div class="bg-white p-4 rounded-3 border-1 shadow-sm">
                    <div class="text-center mb-3"><img class="vh-30" src="assets/img/43533634.jpg"></div>
                    <div class="text-center"><a href="book_list.html">
                            <h4>Read Books</h4>
                            <p>This is where you can read motivational books just like on Wikipedia</p>
                        </a></div>
                </div>
            </div>
            <div class="p-2">
                <div class="bg-white p-4 rounded-3 border-1 shadow-sm">
                    <div class="text-center mb-3"><img class="vh-30" src="assets/img/34348882.jpg"></div>
                    <div class="text-center"><a href="video_list.html">
                            <h4>Watch Videos</h4>
                            <p>This is where you can watch motivational videos just like on YouTube</p>
                        </a></div>
                </div>
            </div>
            <div class="p-2">
                <div class="bg-white p-4 rounded-3 border-1 shadow-sm">
                    <div class="text-center mb-3"><i class="fas fa-user-cog fs-1 color-second"></i></div>
                    <div class="text-center"><a href="#">
                            <h4>Manage Profile</h4>
                            <p>This is where you can manage your details</p>
                        </a></div>
                </div>
            </div>
            <div class="p-2">
                <div class="bg-white p-4 rounded-3 border-1 shadow-sm">
                    <div class="text-center mb-3"><i class="fas fa-sign-out-alt fs-1 color-second"></i></div>
                    <div class="text-center"><a href="#">
                            <h4>Logout</h4>
                            <p>Logout of your account</p>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="vh-10 bg-main text-center p-1"><span class="text-white me-1 fw-semibold fs-4">Kuhes</span><span class="color-second fw-semibold fs-4 me-2">Care</span><span class="me-1">@ 2024 developed by</span><a class="fw-bold color-second fs-5" href="https://linktr.ee/leroy_official.mw" target="_blank">Leroy</a></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>