<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kuhes Care</title>
    <meta name="description" content="Kuhes Care is an Online Therapy Platform">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="vh-10 vw-100 bg-main d-flex align-items-center justify-content-between px-2">
        <div><a class="btn p-1 btn-hover-second" role="button" href="home.html"><i class="fas fa-arrow-left fs-4"></i></a></div>
        <div>
            <h4 class="color-second">Peer to Peer</h4>
        </div>
        <div></div>
    </div>
    <div class="py-4 d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="mb-5">
                <div class="row align-items-center mb-1">
                    <div class="col-1 p-0 d-flex align-items-center"><img class="rounded-circle" src="assets/img/hero_image_04.png" style="width: 50px;"></div>
                    <div class="col-10 d-flex align-items-center"><a class="fs-4 fw-semibold color-main" href="#">Leroy Namarika</a></div>
                    <div class="col-1 d-flex align-items-center">
                        <div class="dropdown"><button class="btn p-1 btn-hover-none border-0" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v fs-4"></i></button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Copy Post Link</a><a class="dropdown-item" href="#">Report Post</a></div>
                        </div>
                    </div>
                </div>
                <div><img class="rounded" src="assets/img/featured_image_blog.jpg"></div>
                <div class="py-2">
                    <p>Hey atughjkhu ihbi hij uhhu j io&nbsp; iho uhiu huo&nbsp; ugo h ihph goi&nbsp; igu gui uig ugi yig gu iug uog iug ofu goi u oug iguguogu o gu uo ou ou uog uog</p>
                </div>
                <div class="d-flex mb-3">
                    <div><button class="btn btn-hover-none p-1 color-second fs-5" type="button"><i class="fas fa-heart me-1"></i><span>1</span></button></div>
                    <div><button class="btn btn-hover-none p-1 color-second fs-5" type="button"><i class="fas fa-comment me-1"></i><span>1</span></button></div>
                </div>
                <div id="comment-section">
                    <h4 class="mb-4">2 comments</h4>
                    <div id="comment-list">
                        <div id="comment-1" class="comment row mb-4">
                            <div class="col-1 text-center"><i class="fas fa-user-circle fs-1 color-main"></i></div>
                            <div class="col-11">
                                <div class="d-flex justify-content-between"><a href="#">
                                        <h4>Leroy</h4>
                                    </a><span class="fw-bold">January 25, 2024 at 9:35 am</span></div>
                                <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                                <div class=".reply-div"><button class="btn show-replies-btn color-second fw-bold" type="button"><i class="fas fa-share me-2"></i><span>Show Replies</span></button><button class="btn hide-replies-btn d-none color-second fw-bold" type="button"><span>Hide Replies</span></button>
                                    <div class="replies d-none">
                                        <div class="reply-list py-2">
                                            <div class="reply row mb-2">
                                                <div class="col-1 text-center"><i class="fas fa-user-circle fs-1"></i></div>
                                                <div class="col-11"><a href="#"></a>
                                                    <div class="d-flex justify-content-between"><a href="#">
                                                            <h4>Leroy</h4>
                                                        </a><span class="fw-bold">January 25, 2018 at 9:35 am</span></div>
                                                    <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <form method="post" action="post_reply">
                                                <div class="row">
                                                    <div class="col-10"><textarea class="form-control" name="reply" placeholder="Write your reply" required=""></textarea></div>
                                                    <div class="col-2"><button class="btn btn-bg-main" type="submit">Reply</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="comment-2" class="comment row mb-4">
                            <div class="col-1 text-center"><i class="fas fa-user-circle fs-1 color-main"></i></div>
                            <div class="col-11">
                                <div class="d-flex justify-content-between"><a href="#">
                                        <h4>Leroy</h4>
                                    </a><span class="fw-bold">January 25, 2024 at 9:35 am</span></div>
                                <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                                <div class=".reply-div"><button class="btn show-replies-btn color-second fw-bold" type="button"><i class="fas fa-share me-2"></i><span>Show Replies</span></button><button class="btn hide-replies-btn d-none color-second fw-bold" type="button"><span>Hide Replies</span></button>
                                    <div class="replies d-none">
                                        <div class="reply-list py-2">
                                            <div class="reply row mb-2">
                                                <div class="col-1 text-center"><i class="fas fa-user-circle fs-1"></i></div>
                                                <div class="col-11"><a href="#"></a>
                                                    <div class="d-flex justify-content-between"><a href="#">
                                                            <h4>Leroy</h4>
                                                        </a><span class="fw-bold">January 25, 2018 at 9:35 am</span></div>
                                                    <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <form method="post" action="post_reply">
                                                <div class="row">
                                                    <div class="col-10"><textarea class="form-control" name="reply" placeholder="Write your reply" required=""></textarea></div>
                                                    <div class="col-2"><button class="btn btn-bg-main" type="submit">Reply</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form method="post" action="post_comment">
                            <div class="row">
                                <div class="col-10"><textarea class="form-control" name="comment" placeholder="Write your comment" required=""></textarea></div>
                                <div class="col-2"><button class="btn btn-bg-main" type="submit">Comment</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/post.js"></script>
</body>

</html>