<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kuhes Care</title>
    <meta name="description" content="Kuhes Care is an Online Therapy Platform">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="616x624" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="icon" type="image/png" sizes="1226x1112" href="assets/img/logo%20full.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="vh-10 bg-main d-flex align-items-center justify-content-between px-2">
        <div><a class="btn p-1 btn-hover-second" role="button" href="chat.html"><i class="fas fa-arrow-left fs-4"></i></a></div>
        <div>
            <h4 class="color-second">Therapist Profile</h4>
        </div>
        <div></div>
    </div>
    <div class="p-5 text-center text-capitalize mb-4"><img class="rounded-circle vh-30 mb-4 border border-4 border-second" src="assets/img/hero_image_04.png">
        <h1>Leroy Namarika</h1><span class="fw-bold"><span class="d-flex d-none align-items-start justify-content-center"><span>Online</span><i class="fas fa-circle text-success" style="font-size: 10px;"></i></span><span>Last Seen Today at 7:15am</span></span>
        <div class="mt-4"><a class="btn btn-bg-main fw-bold" role="button" href="chat.html">Chat with this Therapist</a></div>
    </div>
    <div class="row py-1 mb-5">
        <div class="col-md-6 col-lg-3">
            <h4 class="color-main">About</h4>
            <p>Leroy Namarika is jri rgjije rj giu rejui jrfiuej jgreiufj jriufj iurjieuj j greijj ieru ijfjifuerg hriu hriuhge iu hurei</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <h4 class="color-second">Qualification</h4>
            <p>Leroy Namarika has a PhD in physio-therapy</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <h4 class="color-main">Experience</h4>
            <p>5 Years experience</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <h4 class="color-second">Gender</h4>
            <p>Male</p>
        </div>
    </div>
    <div id="videos-posted" class="mb-5">
        <h2>Videos Posted</h2>
        <div class="row">
            <div id="video-1" class="col-md-6 col-lg-3 p-3">
                <div><a href="watch_video.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>views</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="watch_video.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
            <div id="video-2" class="col-md-6 col-lg-3 p-3">
                <div><a href="watch_video.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>views</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="watch_video.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
            <div id="video-3" class="col-md-6 col-lg-3 p-3">
                <div><a href="watch_video.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>views</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="watch_video.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
            <div id="video-4" class="col-md-6 col-lg-3 p-3">
                <div><a href="watch_video.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>views</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="watch_video.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="books-published" class="mb-5">
        <h2>Books Published</h2>
        <div class="row">
            <div id="book-1" class="col-md-6 col-lg-3 p-3">
                <div><a href="read_book.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>reads</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="read_book.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
            <div id="book-2" class="col-md-6 col-lg-3 p-3">
                <div><a href="read_book.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>reads</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="read_book.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
            <div id="book-3" class="col-md-6 col-lg-3 p-3">
                <div><a href="read_book.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>reads</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="read_book.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
            <div id="book-4" class="col-md-6 col-lg-3 p-3">
                <div><a href="read_book.html"><img src="assets/img/featured_image_blog.jpg"></a>
                    <div>
                        <div class="d-flex justify-content-between"><a class="color-second fw-semibold" href="therapist_profile.html">Leroy Namarika</a><span class="fw-bold"><span class="me-1">10</span><span>reads</span></span></div>
                        <div><a class="color-main fw-semibold fs-4" href="read_book.html">How to Deal with Depression</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>